@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}
