@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: #000;
  line-height: 1.5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    max-height: 500px;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
}